<!DOCTYPE html>
<html>
<head>
    <title>New user</title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <h1>Welcome <%= @user_name %>!</h1>

        <p>Here are the details you provided:</p>

        <table class='table table-bordered'>
            <tr><th>Name</th><th>Email</th><th>Operating system</th></tr>
            <tr><td><%= @user_name %></td><td><%= @user_email %></td><td><%= @user_os %></td></tr>
        </table>

    </div>
</body>
</html>